* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Sections Heights */
.navbar-section {
    height: 10%;
}

.hero-section {
    height: 90%;
}

/* Navbar */
.nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: #e8e2e2;
}

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-text {
    color: rgb(51, 50, 50);
    font-size: 22px;
    font-weight: bold;
}

/* Nav Items */
.nav-items ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-items ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-items ul li a:hover {
    color: rgb(255, 106, 0);
}

/* CTA Button */
.cta {
    padding: 12px 26px;
    background-color: rgb(255, 106, 0);
    color: #000;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.cta:hover {
    background-color: white;
}

/* Hero */
.hero {
    height: 100%;
    width: 100%;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./images/10.jpg");
    /* غيري الصورة */
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;


}

.hero h5 {
    color: white;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero h1 {
    color: #fff;
    font-size: 64px;
    margin-bottom: 20px;
}

.hero p {
    color: #ddd;
    max-width: 600px;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;

}

.butn1,
.butn2 {
    padding: 14px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.butn1 {
    background-color: rgb(255, 106, 0);
    color: #000;
}

.butn2 {
    border: 2px solid #fff;
    color: #fff;
}

.main-content {
    width: 99vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e8e2e2;
    margin-top: 50px;
}

.content-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    background-color: white;
    color: black;
    padding: 40px;
    transition: transform 0.3s ease;

}

.content-text:hover {
    transform: translateY(-8px);
}

.content-text a {
    color: rgb(255, 106, 0);
    text-decoration: none;
}

.cards {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: black;
    padding: 20px;

}

.cards .card1 {
    padding: 20px;
    background-color: white;
    transition: transform 0.3s ease;
}

.cards .card1:hover {
    transform: translateY(-8px);
}

.cards .card2 {
    padding: 20px;
    background-color: white;
    transition: transform 0.3s ease;
}

.cards .card2:hover {
    transform: translateY(-8px);
}

.card3 {
    padding: 20px;
    background-color: white;
    grid-column: span 2;
    transition: transform 0.3s ease;
}

.card3:hover {
    transform: translateY(-8px);
}



.Collections {
    width: 100%;
    padding: 100px 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collectio-text h6 {
    color: black;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features h3 {
    font-size: 40px;
    color: black;
}

.features a {
    color: orangered;
    text-decoration: none;
    font-weight: 500;
}

.features a:hover {
    color: black;
}

.cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cols>div {
    background-color: #111;
    border-radius: 18px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}

.cols>div:hover {
    transform: translateY(-8px);
}

.cols .img {

    height: 450px;
    background: linear-gradient(135deg, #1e90ff, #0c1a0f);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.cols .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cols h4 {
    color: #fff;
    font-size: 20px;
    margin: 16px 16px 6px;
}

.cols p {
    color: white;
    margin: 0 16px;
    font-size: 14px;
}

.footer {
    background-color: #e8e2e2;
    padding: 80px 100px;
    color: black;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title-icon {
    width: 70px;
    height: 70px;

    border-radius: 50%;
}

.title-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-text {
    font-size: 26px;
    font-weight: bold;
}

.footer-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.detail-item {
    display: flex;
    gap: 15px;
}

.detail-item .icon {
    width: 32px;
    height: 32px;
    /* background-color: #39ff14; */
    border-radius: 50%;
}

.detail-item h4 {
    margin-bottom: 6px;
    font-size: 16px;
}

.detail-item p {
    color: black;
    font-size: 14px;
    line-height: 1.6;
}

.footer-media {
    display: flex;
    gap: 20px;
}

.footer-media span {
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

/* About Hero */
.about-hero {
    height: 70vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/21.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-hero-content {
    color: #fff;
    max-width: 700px;
}

.about-hero h1 {
    font-size: 60px;
    margin: 20px 0;
}

/* About Page */
.about-page {
    padding: 100px 80px;
}

.about-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

.about-text p {
    line-height: 1.7;
    margin-bottom: 15px;
}

.about-image {
    width: 50%;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Vision */
.vision-section {
    background-color: #e8e2e2;
    padding: 80px;
}

.vision-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.vision-card {
    background: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.vision-card:hover {
    transform: translateY(-8px);
}

.vision-card i {
    font-size: 40px;
    color: rgb(255, 106, 0);
    margin-bottom: 15px;
}

/* Collections  */
.collections-hero {
    height: 70vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/17.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.collections-hero-content {
    color: #fff;
    max-width: 700px;
}

.collections-hero h1 {
    font-size: 58px;
    margin: 20px 0;
}

/* Collections Intro */
.collections-intro {
    padding: 120px 100px 60px;
    text-align: center;
    background-color: #fff;
}

.collections-intro h5 {
    letter-spacing: 3px;
    color: rgb(255, 106, 0);
    margin-bottom: 15px;
}

.collections-intro h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.collections-intro p {
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
    color: #555;
}

/* Bigger Collections Page */
.collections-page {
    padding: 80px 100px 140px;
}

/* Bigger Grid */
.collections-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* Bigger Cards */
.collection-card {
    background-color: #111;
    border-radius: 22px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.collection-card:hover {
    transform: translateY(-10px);
}

.collection-card img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

/* Card Content */
.card-content {
    padding: 25px;
}

.card-content h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 6px;
}

.card-content span {
    display: block;
    font-size: 13px;
    color: rgb(255, 106, 0);
    margin-bottom: 12px;
}

.card-content p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
}


.collections-page {
    padding: 100px 80px;
    background-color: #fff;
}

.collections-header {
    text-align: center;
    margin-bottom: 60px;
}

.collections-header h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.collections-header p {
    color: #555;
}

.collections-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-card {
    background-color: #111;
    border-radius: 18px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}

.collection-card:hover {
    transform: translateY(-8px);
}

.collection-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.collection-card h4 {
    color: #fff;
    margin: 16px 16px 6px;
}

.collection-card p {
    color: #ccc;
    margin: 0 16px;
    font-size: 14px;
}

.map-hero {
    height: 60vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/22.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.map-hero-content {
    color: #fff;
    max-width: 700px;
}

.map-hero h1 {
    font-size: 54px;
    margin: 20px 0;
}

.map-section {
    padding: 100px;
    background-color: #fff;
}

.map-container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.map-frame {
    width: 60%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
}

.map-frame iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.map-info {
    width: 40%;
}

.map-info h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.map-info p {
    line-height: 1.7;
    margin-bottom: 20px;
    color: #555;
}

.map-info ul {
    list-style: none;
}

.map-info ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.map-info ul i {
    color: rgb(255, 106, 0);
    margin-right: 10px;
}

/* Visit Hero */
.visit-hero {
    height: 60vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/23.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.visit-hero-content {
    color: #fff;
    max-width: 700px;
}

.visit-hero h1 {
    font-size: 56px;
    margin: 20px 0;
}

/* Visit Info */
.visit-info {
    padding: 100px;
    background-color: #fff;
}

.visit-intro {
    text-align: center;
    margin-bottom: 60px;
}

.visit-intro h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.visit-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.visit-card {
    background-color: #e8e2e2;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.visit-card:hover {
    transform: translateY(-8px);
}

.visit-card i {
    font-size: 36px;
    color: rgb(255, 106, 0);
    margin-bottom: 15px;
}

/* Booking Section */
.booking-section {
    padding: 120px 100px;
    background-color: #e8e2e2;
}

.booking-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

/* Text */
.booking-text {
    width: 40%;
}

.booking-text h5 {
    letter-spacing: 3px;
    color: rgb(255, 106, 0);
    margin-bottom: 10px;
}

.booking-text h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.booking-text p {
    line-height: 1.7;
    color: #444;
}

/* Form */
.booking-form {
    width: 60%;
    background-color: #fff;
    padding: 50px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: rgb(255, 106, 0);
}

textarea {
    resize: none;
    height: 120px;
}

.full-width {
    grid-column: span 2;
}

/* Button */
.booking-btn {
    grid-column: span 2;
    padding: 16px;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 106, 0);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.booking-btn:hover {
    background-color: #000;
    color: #fff;
}


/* Tips */
.visit-tips {
    padding: 80px 100px 120px;
    background-color: #111;
    color: #fff;
}

.visit-tips h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 38px;
}

.tips-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.tip {
    text-align: center;
}

.tip i {
    font-size: 28px;
    color: rgb(255, 106, 0);
    margin-bottom: 10px;
}